:root {
  --orange: #ffb224;
  --pink: #ff19e9;
  --green: #297a00;
  --white: #ffffff;
  --light-grey: #b1b1b1;
  --dark-grey: #404040;
  --black: #000000;
}

.app {
  border: 10px solid #ffb224;
  background-image: linear-gradient(244deg, #297a00, #e29c1b, #ff19e9);
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "rig-regular", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  color: #fff;
}

.hidden {
  display: none !important;
}

button, .btn {
  color: #fff;
  background-color: #ffb224;
  border-color: #ffb224;
  outline: 0;
  border: 0;
  font-size: 14px;
  border-radius: 4px;
  padding: 1em 1.2em;
  text-decoration: none;
  font-white: bold;
  cursor: pointer;
  font-family: 'rig-regular';
}

img {
  max-width: 100%;
}

button:disabled {
  opacity: 0.75;
  cursor: no-drop;
}

nav {
  background: var(--dark-grey);
  font-size: 20px;
  display: flex;
  /* align-items: center; */
  padding: 1rem 2rem;
  justify-content: center;
}

nav ol {
  gap: 2rem;
  align-items: center;
  margin-left: auto;
  flex: 1;
  justify-content: center;
  display: none;
}

nav .link.mint-button {
  display: none;
}

@media (min-width: 768px) {
  nav ol {
    display: flex;
  }
  nav .link.mint-button {
    display: block;
  }
}

nav .link a {
  color: #e3e3e3;
  font-family: 'rig-regular';
}

nav .logo {
  max-width: 146px;
}

.section {
  text-align: center;
  padding: 24px;
}

@media (min-width: 768px) {
  .section {
    padding: 100px;
  }
}

.section.faq {
  background-color: var(--dark-grey);
  color: #fff;
}

.section.hero {
  padding: 40px 40px 20px;
}

@media (min-width: 768px) {
  .section.hero {
    padding: 50px 100px 20px;
  }
}

.section.mint {
  text-align: center;
  padding-top: 0;
  /* background-image: linear-gradient(45deg, #ff19e9, #ffb224, #ff19e9, #ffb224); */
}

.section.mint .subtext {
  line-height: 1.4em;
  font-size: 15px;
}

@media (min-width: 768px) {
  .section.mint .subtext {
    font-size: 19px;
  }
}

.section.mint h2, .section.faq h2 {
  margin-bottom: 1rem;
  font-size: 24px;
}

@media (min-width: 768px) {
  .section.mint h2, .section.faq h2 {
    margin-bottom: 2rem;
    font-size: 40px;
  }

}

.section.mint h4 {
  margin-bottom: 2rem;
}

.section.mint .grid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr;
  align-items: center;
  flex-direction: column;
}

@media (min-width: 768px) {
  .section.mint .grid {
    grid-template-columns: 1fr 1fr;

  }
}

@media (min-width: 991px) {
  .section.mint .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.mint-card {
  overflow: hidden;
  background-image: linear-gradient(45deg, #ffb224, transparent);
  padding: 1.5rem;
  border-radius: 4px;
  color: #fff;
  border: 1px solid rgb(255 255 255 / 51%);
  position: relative;
}

.mint-card h3 {
  margin-bottom: 1rem;
}

.mint-card img {
  border: 5px solid;
  border-radius: 4px;
}

.mint-card button {
  border: 1px solid rgb(255 255 255 / 51%);
  font-size: 14px;
  padding: 1em 2em;
}

.mint-button {
  margin-top: 1rem;
}

.mint-card label h5 {
  display: inline-block;
  margin-left: 1rem;
}

.mint-card .mint-amount {
  margin-bottom: 0;
}

.loading {
  margin-top: 1rem;
}

.mint-card-loader {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgb(214 154 25 / 86%);
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mint-card .max-mint {
  margin-bottom: 0 !important;
}

.mint-selector {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.mint-selector button:hover {
  filter: brightness(105%);
}

.mint-selector span .mint-amount-btn {
  cursor: pointer;
  font-size: 32px;
  margin: 0;
  color: #eee;
}

.mint-selector span .mint-amount-btn:hover {
  color: #fff;
}

.mint-selector .mint-amount {
  font-size: 18px;
}

.feedback {
  padding: 1rem;
  text-align: center;
  text-transform: capitalize;
  font-size: 24px;
  margin-bottom: 0 !important;
}

.section.connect {
  min-height: 100%;
  text-align: center;
  padding-top: 100px;
}

.section.connect img, .section.hero img {
  display: block;
  margin: auto;
}
@media (min-width: 991px) {
  .section.connect img, .section.hero img {
    max-width: 750px;
  }
}

.section.connect img {
  margin-bottom: 1rem;
}

.section.connect button {
  font-size: 16px;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .section.connect button {
    font-size: 20px;
  }
}

footer {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}

footer h4 {
  color: var(--dark-grey)
}

footer img {
  max-width: 95px;
}

/* Accordion */
.wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 600px;
}

.accordion-wrapper + * {
  margin-top: 1rem;
}

.accordion-item {
  overflow: hidden;
  height: auto;
  max-height: 9999px;
}

.accordion-item.collapsed {
  max-height: 0;
}

.accordion-title {
  font-weight: 600;
  cursor: pointer;
  padding: 0.75em 1em;
  border: solid 1px #ccc;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  text-transform: capitalize;
}

@media (min-width: 768px) {
  .accordion-title {
    font-size: 18px;
  }
}

.accordion-title::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid currentColor;
  transform: rotate(270deg);
}

.accordion-title.open::after {
  content: "";
  border-top: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid currentColor;
  transform: rotate(0deg);
}

.accordion-content {
  padding: 0.5em 2em;
  text-align: left;
  line-height: 1.6em;
}

.accordion-content a {
  color: #fff;
  text-decoration: underline;
}

/* loader */
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}